@keyframes moveCircle {
    //     // to {}
    //     // from{}

    0% {
        left: 0;
        transform: scale(1) rotate(0);
    }

    25% {
        top: 45px;
        left: 80px;
        transform: scale(1.2) rotate(90deg);
    }

    50% {
        top: 80px;
        left: 180px;
        transform: scale(1.5) rotate(180deg);
    }

    75% {
        top: 45px;
        left: 80px;
        transform: scale(1.2) rotate(270deg);
    }

    100% {
        left: 0;
        transform: scale(1) rotate(360deg);
    }

}

@keyframes rotateTitle {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scaleText {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.24);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes moveBallLeft {
    0%,
    50% {
        transform: rotate(0) translateX(0);
    }

    100% {
         transform: rotate(30deg) translateX(-35px);
    }
}

@keyframes moveBallRight {
    0% {
        transform: rotate(-30deg) translateX(35px);
    }

    50%,
    100% {
         transform: rotate(0) translateX(0);
    }
}

@keyframes moveShadowLeft {
    0%,
    50% {
        opacity: 0.7;
        transform: translateX(0);
    }

    100% {
        opacity: 0.35;
         transform: translateX(-25px);
    }
}

@keyframes moveShadowRight {
    0% {
        opacity: 0.35;
        transform: translateX(25px);
    }

    50%,
    100% {
        opacity: 0.7;
         transform: translateX(0);
    }
}

@keyframes bounceArrow {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(8px);
    }
}