@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@function rem($px) {
    @return $px / 16 * 1rem;
}

@function line_height($px) {
    @return ($px / 1.8) / 10;
}