$font_size_main: 17px;
$font_family_main: Verdana, Geneva, Tahoma, sans-serif;
$font_color: #28616d;
$background_main: linear-gradient(#d3c3d3, #121515);

$container_width: 1170px;
$half_container_width: calc($container_width / 2);

// :root{
//     --bg1: #0f172a;
//     --bg2: #0b1020;
//     --accent: #7c3aed;
//     --accent2: #06b6d4;
//     --glass: rgba(255,255,255,0.06);
//   }