@use 'vars' as v;

* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0;
}


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    font-size: v.$font_size_main;
    color: v.$font_color_main;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: v.$background_main;
}

.header,
.section,
.footer {
    padding: 0 calc(50vw - v.$adaptive_width_container);

    @media screen and (max-width: 1200px) {
        padding: 0 calc(50vw - calc(v.$adaptive_width_container - 12%));
    }

    @media screen and (max-width: 992px) {
        padding: 0 calc(50vw - calc(v.$adaptive_width_container - 26.5%));
    }

    @media screen and (max-width: 768px) {
        padding: 0 15px;
    }
}

.gallery {
    width: 800px;
    height: 500px;
    background: url('../assets/img/HeaderBackground.png') no-repeat;
    background-position: center center;
    background-size: cover;

    @media screen and (max-width: 992px) {
        background: url('../assets/img/HeaderBackgroundtablet.png') no-repeat;
    }

    @media screen and (max-width: 768px) {
        background: url('../assets/img/HeaderBackgroundmobile.png') no-repeat;
    }
}

.block-img {
    border: 2px solid #f0f7f4;
    margin: 180px 0;

    &__picture {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}